<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<entry key="scriptImports" type="xstring" value="// Your custom imports:%%00010"/>
<entry key="scriptFields" type="xstring" value="// Your custom variables:%%00010String MSISND = &quot;&quot;;%%00010String TX =&quot;&quot;;"/>
<entry key="scriptBody" type="xstring" value="// Enter your code here:%%00010MSISND = String.valueOf(c_REVERSEMSISDN).replace(&quot;E9&quot;, &quot;&quot;).replace(&quot;.&quot;, &quot;&quot;);%%00010while(MSISND.length() &lt;10){%%00010%%00009MSISND = MSISND + &quot;0&quot;;%%00010%%00009}%%00010out_MSISDN = MSISND;%%00010%%00010TX = c_EXT_TRANSACTION_ID.toUpperCase().indexOf(&quot;REC-&quot;)&gt;0?c_EXT_TRANSACTION_ID.substring(c_EXT_TRANSACTION_ID.toUpperCase().indexOf(&quot;REC-&quot;)+4, c_EXT_TRANSACTION_ID.length()):c_EXT_TRANSACTION_ID;%%00010TX = TX.toUpperCase().indexOf(&quot;REC&quot;)&gt;0?TX.substring(TX.toUpperCase().indexOf(&quot;REC&quot;)+3, TX.length()):TX;%%00010out_tx = Integer.parseInt(TX.toUpperCase().indexOf(&quot;R&quot;)&gt;0?TX.substring(c_EXT_TRANSACTION_ID.toUpperCase().indexOf(&quot;R&quot;)+1, TX.length()):TX);%%00010out_valordelarecarga = c_DIF_PRICE *-1;%%00010%%00010"/>
<config key="jarFiles">
<entry key="array-size" type="xint" value="0"/>
</config>
<config key="outCols">
<entry key="array-size" type="xint" value="4"/>
<config key="0">
<entry key="Name" type="xstring" value="TX"/>
<entry key="JavaName" type="xstring" value="out_tx"/>
<entry key="JavaType" type="xstring" value="java.lang.Integer"/>
<config key="Type">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.IntCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
<entry key="ConverterFactory" type="xstring" value="org.knime.core.data.def.IntCell$IntCellFactory.create(class java.lang.Integer)"/>
<entry key="replaceExisting" type="xboolean" value="false"/>
</config>
<config key="1">
<entry key="Name" type="xstring" value="DIF_PRICE"/>
<entry key="JavaName" type="xstring" value="out_DIF_PRICE"/>
<entry key="JavaType" type="xstring" value="java.lang.Integer"/>
<config key="Type">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.IntCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
<entry key="ConverterFactory" type="xstring" value="org.knime.core.data.def.IntCell$IntCellFactory.create(class java.lang.Integer)"/>
<entry key="replaceExisting" type="xboolean" value="true"/>
</config>
<config key="2">
<entry key="Name" type="xstring" value="MSISDN"/>
<entry key="JavaName" type="xstring" value="out_MSISDN"/>
<entry key="JavaType" type="xstring" value="java.lang.String"/>
<config key="Type">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.StringCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
<entry key="ConverterFactory" type="xstring" value="org.knime.core.data.def.StringCell$StringCellFactory.createCell(class java.lang.String)"/>
<entry key="replaceExisting" type="xboolean" value="false"/>
</config>
<config key="3">
<entry key="Name" type="xstring" value="valor de la recarga"/>
<entry key="JavaName" type="xstring" value="out_valordelarecarga"/>
<entry key="JavaType" type="xstring" value="java.lang.Integer"/>
<config key="Type">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.IntCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
<entry key="ConverterFactory" type="xstring" value="org.knime.core.data.def.IntCell$IntCellFactory.create(class java.lang.Integer)"/>
<entry key="replaceExisting" type="xboolean" value="false"/>
</config>
</config>
<config key="outVars">
<entry key="array-size" type="xint" value="0"/>
</config>
<config key="inCols">
<entry key="array-size" type="xint" value="4"/>
<config key="0">
<entry key="Name" type="xstring" value="REVERSE(MSISDN)"/>
<entry key="JavaName" type="xstring" value="c_REVERSEMSISDN"/>
<entry key="JavaType" type="xstring" value="java.lang.String"/>
<config key="Type">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.StringCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
<entry key="ConverterFactory" type="xstring" value="org.knime.core.data.convert.java.SimpleDataCellToJavaConverterFactory(StringValue,class java.lang.String,String)"/>
</config>
<config key="1">
<entry key="Name" type="xstring" value="TRANSACTION_ID"/>
<entry key="JavaName" type="xstring" value="c_TRANSACTION_ID"/>
<entry key="JavaType" type="xstring" value="java.lang.String"/>
<config key="Type">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.StringCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
<entry key="ConverterFactory" type="xstring" value="org.knime.core.data.convert.java.SimpleDataCellToJavaConverterFactory(StringValue,class java.lang.String,String)"/>
</config>
<config key="2">
<entry key="Name" type="xstring" value="EXT_TRANSACTION_ID"/>
<entry key="JavaName" type="xstring" value="c_EXT_TRANSACTION_ID"/>
<entry key="JavaType" type="xstring" value="java.lang.String"/>
<config key="Type">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.StringCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
<entry key="ConverterFactory" type="xstring" value="org.knime.core.data.convert.java.SimpleDataCellToJavaConverterFactory(StringValue,class java.lang.String,String)"/>
</config>
<config key="3">
<entry key="Name" type="xstring" value="DIF_PRICE"/>
<entry key="JavaName" type="xstring" value="c_DIF_PRICE"/>
<entry key="JavaType" type="xstring" value="java.lang.Integer"/>
<config key="Type">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.IntCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
<entry key="ConverterFactory" type="xstring" value="org.knime.core.data.convert.java.SimpleDataCellToJavaConverterFactory(IntValue,class java.lang.Integer,Integer)"/>
</config>
</config>
<config key="inVars">
<entry key="array-size" type="xint" value="0"/>
</config>
<entry key="version" type="xstring" value="version 1.x"/>
<entry key="templateUUID" type="xstring" isnull="true" value=""/>
<entry key="runOnExecute" type="xboolean" value="false"/>
</config>
<config key="nodeAnnotation">
<entry key="text" type="xstring" value="Node 3"/>
<entry key="bgcolor" type="xint" value="16777215"/>
<entry key="x-coordinate" type="xint" value="408"/>
<entry key="y-coordinate" type="xint" value="379"/>
<entry key="width" type="xint" value="133"/>
<entry key="height" type="xint" value="17"/>
<entry key="alignment" type="xstring" value="CENTER"/>
<entry key="borderSize" type="xint" value="0"/>
<entry key="borderColor" type="xint" value="16777215"/>
<entry key="defFontSize" type="xint" value="9"/>
<entry key="annotation-version" type="xint" value="20151123"/>
<config key="styles"/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="EXECUTED"/>
<entry key="factory" type="xstring" value="org.knime.base.node.jsnippet.JavaSnippetNodeFactory"/>
<entry key="node-name" type="xstring" value="Java Snippet"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Java Snippet Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.jsnippets"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME GmbH, Konstanz, Germany"/>
<entry key="node-bundle-version" type="xstring" value="3.4.0.v201706141136"/>
<entry key="node-feature-name" type="xstring" value="KNIME Core"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME GmbH, Konstanz, Germany"/>
<entry key="node-feature-version" type="xstring" value="3.4.0.v201707101013"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Java Snippet"/>
<entry key="hasContent" type="xboolean" value="true"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
<entry key="port_object_summary" type="xstring" value="Rows: 4821, Cols: 14"/>
<entry key="port_dir_location" type="xstring" value="port_1"/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" isnull="true" value=""/>
</config>
</config>
